.container h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 80px;
}
.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 1350px;
    background-color: blue;
}
.cont li {
    list-style-type: none;
    padding-top: 20px;
    color: rgb(152, 226, 15);
}
.cont p {
    padding-top: 30px;
}
.cont button {
    background: red;
    color: white;
    padding: 10px;
    margin: 40px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(21, 17, 247);
    width: 1350px;
    margin: 0;
    padding: 0;
    height: 100px;
}
.footer p {
    margin: 70px;

}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.25rem;
  }
  .img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background-image: url(../public/laptop.jpg);
    background-size: cover;
    align-self: flex-start;
    margin-right: 90%;
    float: left;
  }