.nav{
    height: 70px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav h3 {
    font-size: 30px;
}
.ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.li {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-right: 30px;
    font-size: large;
    cursor: pointer;
}

.li:hover {
    color: blue;
}
.btn {
    background: red;
    color: white;
    padding: 10px;
    margin: 40px;
    cursor: pointer;
}
.btn:hover {
    background: blue;
}